* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
}

/* styles */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.form-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 90vh;
    background-color: #0a1931;
    color: #fff;
    border-radius: 10px;
    position: fixed;
    left: 1rem;
}

.form-container .field {
    margin: 2rem;
    width: 90%;
}

.field label {
    font-weight: lighter;
}

.field input {
    border: 1px solid #DBDBDB;
    padding: 8px;
    border-radius: 8px;
}

.addCars {
    margin-bottom: 4rem;
}

.form-container .btn-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 2rem;
}

.submitBtn {
    width: 80%;
    border: none;
    background-color: #ffc947;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 8px;
}

/* Card */
.cars-container {
    width: 60%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
}

.cars-container .card {
    width: 25%;
    height: 45%;
    /* text-align: center; */
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0rem 2rem 2rem 2rem;
    background-image: url("https://image.freepik.com/vector-gratis/senal-neon-velocidad-creciente-coche_1262-21528.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease 0.5s;
    font-weight: bolder;
    font-size: 1.2rem;
    line-height: 2rem;
    position: relative;
}

.card::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.cars-container .card:hover {
    transform: translateY(1rem)
}

.cars-container .contentCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.cars-container .carInfo{
    width: 80%;
    height: 60%;
}

.cars-container .actionButtons {
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.actionButtons button {
    width: 40%;
    border: none;
    padding: 5px;
    color: #fff;
    border-radius: 7px;
}

.update {
    background-color: #3988ee;
}

.delete {
    background-color: #e62f44;
}